body{
    background-color: #000000;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: "Amiri";
    
 }
 main{
   position: relative;
 }
 form{
    position: absolute;
    color: #000000;
    top:350px;
    left: 350px;
    font-family: "Amiri";
    max-width: 300px;
    width: 100%;
    
    
 }
 h1{
    margin:20px 0 40px 0;
    position: absolute;
    color: #000000;
    top: 240px;
    left: 450px;
    font-family: "amiri";
 }
 input{
   width:80%;
   border: 0;
   border-bottom: 1px solid black;
   
 }
label{
   font-family: "amiri";
   font-size: 20px;
}
 